@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
}


/* STRIPES */

.stripe {
    width: 100%;
    height:0.2rem;
    background-color: #f2f2f2;
}

.stripe-one {
    position: absolute;
    top: 20%;
}

.stripe-two {
    position: absolute;
    top: 70%;
}

/* STRIPES END */

/* NAV */

.nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 1.6rem;
    font-size: 1.6rem;

    margin-bottom: 2.4rem;
}

.nav-link:active, .nav-link:link {
    text-decoration: none;
    color: #333;
    padding-right: 2rem;
}
.nav-link:visited {
    text-decoration: none;
    color: #333;
    padding-right: 2rem;
}

.nav h3 {
    font-size: 2.4rem;
    font-weight: 500;
}

.nav h3 span:nth-child(1) {
    color: #4285F4; 
}
.nav h3 span:nth-child(2) {
    color: #EA4335;
}
.nav h3 span:nth-child(3) {
    color: #FBBC05;
}
.nav h3 span:nth-child(4) {
    color: #4285F4; 
}
.nav h3 span:nth-child(5) {
    color: #34A853; 
}
.nav h3 span:nth-child(6) {
    color: #EA4335; 
}

/* NAV END */

/* SECTION HEADING */

.section-heading p {
    color: #EA4335;
    font-size: 2rem;
    margin-left: 3.6rem;
}

/* FORM ONE */

.form-one {
    padding: 10rem 5rem;
    font-size: 1.4rem;
    color: #555;
}

.form {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem 20rem 40rem;
    grid-template-rows: 3rem;
    padding: 0.6rem 0rem;
    align-items: center;
}

.form-heading p:nth-child(1) {
    grid-column: 1;
    font-size: 1.6rem;
    font-weight: 500;
}
.form-heading p:nth-child(2) {
    grid-column: 5;
    font-size: 1.6rem;
    font-weight: 500;
}

.form-input label:nth-child(1) {
    grid-column: 1;
}

.form-input label:nth-child(3) {
    grid-column: 5;
}

.form-input input {
    grid-column: 2/5;
    padding: 0.4rem;
    margin-right: 1rem;
    border: 2px solid #ccc; 
    outline: none;
}

.form-input input:focus {
    border-color:#4285F4;
    box-shadow: 0 0 3px lightblue;
}

.last-form-input {
    padding: 0.4rem;
    margin-right: 1rem;
    border: 2px solid #ccc; 
    outline: none;
}
.last-form-input:focus {
    border-color:#4285F4;
    box-shadow: 0 0 3px lightblue;
}
#down-label {
    justify-self: center;
}

/* FORM ONE - END */

/* FORM TWO */
.form-two {
    padding: 10rem 5rem;
    font-size: 1.4rem;
    color: #555;
}

.narrow-heading p {
    font-size: 1.6rem;
    font-weight: 500;
}

.form-narrow {
    display: grid;
    grid-template-columns: 20rem 60rem 40rem;
    grid-template-rows: 3rem;
    padding: 0.6rem 0rem;
    align-items: center;
}

.form-narrow input {
    padding: 0.4rem;
    margin-right: 1rem;
    border: 2px solid #ccc; 
    outline: none;
}

.form-narrow input:focus{
    border-color:#4285F4;
    box-shadow: 0 0 3px lightblue;
}

.last-form-narrow {
    margin-bottom: 4rem;
}



.btn-adv {
    grid-column: 2;
    width: 25%;
    justify-self: right;
    padding: 1rem 1.5rem;
    margin-right: 1em;
    font-size: 1.2rem;
    font-weight: 600;
    background-color:#4285F4;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* FORM TWO END */
/* FOOTER */

.footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -50%;
    background-color: #f2f2f2;

    display: flex;
    justify-content: space-between;
}

.footer-div {
    padding: 1.6rem 3.6rem;
    font-size: 1.4rem;
    display: flex;
    gap: 3.1rem;
}
.footer-link:active, .footer-link:link {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid transparent;
    transition: all 0s;
}
.footer-link:visited {
    color: black;
}

.footer-link:hover {
    border-bottom: 1px solid black;
}

/* FOOTER END */